<ng-container
  *ngIf="loggedIn == true; then notLoggedIn; else isLoggedIn"
></ng-container>

<ng-template #isLoggedIn>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="border border-white px-3 py-2">
        <a href="#" routerLink="/" class="navbar-brand mx-auto"> S.A.P </a>
      </span>
      <div class="d-flex">
        <ul class="navbar-nav flex">
          <li class="nav-item">
            <a href="#" routerLink="/auth/login" class="nav-link active"
              >Login</a
            >
          </li>
          <li class="nav-item">
            <a href="#" routerLink="/auth/register" class="nav-link"
              >Register</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</ng-template>
<ng-template #notLoggedIn>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="border border-white px-3 py-2">
        <a href="#" routerLink="/" class="navbar-brand mx-auto"> S.A.P </a>
      </span>
      <div class="d-flex">
        <ul class="navbar-nav flex">
          <li class="nav-item">
            <a href="#" routerLink="/auth/register" class="nav-link">LogOut</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</ng-template>
<router-outlet></router-outlet>
