<div class="container mt-5">
  <h1>List of Products</h1>
  <button
    type="button"
    routerLink="/product/create/"
    class="btn btn-success mt-5 mb-5"
  >
    Create New Product
  </button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">name</th>
        <th scope="col">description</th>
        <th scope="col">price</th>
        <th scope="col">quantity</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
      <tr scope="row" class="mt-5 mb-5" *ngFor="let product of products">
        <td>
          <a
            href="#"
            class="badge badge-warning"
            [routerLink]="['/product/', product._id]"
            style="color: #000"
          >
            {{ product.name }}
          </a>
        </td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.quantity }}</td>
        <td class="mx-auto">
          <a
            href="#"
            [routerLink]="['/product/update/', product._id]"
            class="btn btn-primary"
          >
            update
          </a>
          <button
            type="button"
            (click)="delete(product._id)"
            class="btn btn-danger mx-2"
          >
            delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div
    class="alert alert-danger text-center mt-5"
    role="alert"
    *ngIf="errorMsg != undefined"
  >
    {{ errorMsg }}
  </div>
</div>
