<div class="jumbotron jumbotron-fluid mt-5">
  <div class="container">
    <h1 class="display-4">This is a simple Angular application</h1>
    <p class="lead">
      This is a simple application for a university project, that demands from
      us to build an angular application.
    </p>
    <a
      class="badge bg-light text-decoration-none text-dark fs-5"
      href="#"
      routerLink="product"
      role="button"
      >Products</a
    >

    <a
      class="badge bg-dark text-decoration-none text-light fs-5 ms-3"
      href="#"
      routerLink="category"
      role="button"
      >Categories</a
    >
  </div>
</div>
